<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World!</title>
</head>
<body>
    <h1 th:inline="text">Hello 
        <span th:if="${username}" th:text="${username}">authenticated user</span>
        <span th:unless="${username}">guest</span>!
    </h1>
    
    <!-- Display "You are an admin" text if the user is an admin -->
    <div th:if="${isAdmin}">
        You are an admin.
    </div>
    
    <!-- Logout form -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>
